@import "tailwindcss";
body {
  font-family: 'Playfair Display', serif;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 14s linear infinite;
}
